<h1 class= "text-blue-900 animate-pulse m-1.5">My blog</h1>

<% @blog_posts.each do |blog_post| %>
<div  class: "text-blue-500 hover:underline">
<h2 class="text-xl font-semibold"><%= link_to blog_post.title, blog_post,  class: "text-red-500 hover:underline" %></h2>
<%= blog_post.body %>
</div>
<% end %>