<h1><%= @blog_post.title %></h1>
<%= @blog_post.body %>
<div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <br>
    <li class="nav-item"><%= link_to "Edit blog post", edit_blog_post_path(@blog_post),class: "btn btn-primary" %></li><br>
    <li class="nav-item"><%= link_to "back", blog_posts_path, class: "btn btn-secondary" %></li>
    <ul>
</div>
